.game {
  /*   border: 2px solid black; */
      height: 100vh;
      border-spacing: 0px; 
}


body {
     /* overflow: hidden;*/
      margin: 0;
}

th {
      height: 7.5vh;
      border: 0.041vh solid black;
      width: 50vw;
      font-size: 250%;
      font-family: Monospace;
      text-align: center;
      background-color: lightgrey;
}

td {
      border: 0.041vh solid black;
      max-width: 50vw;
      height: 7.5vh;
      font-size: 110%;
      font-family: Monospace;
      text-align: center;
}

button {
      margin: 1%;
      font-size: 150%;
      font-family: Monospace;
      text-align: center;
      border-radius:2.5px;
      border: 2px solid black;
}

input {
      height: 20%;
      width:20%;
}

.block {
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}
.back {
  width: 10vw;
}